// Define variables for your color scheme

// For example:
$blue-background: #070D2D;
$blue-cards: #161A36;
$grey-lines-back: #A2A6B9;
$white-headers-text: #F6F8FC;
$blue-cta: #5A6FCC;
$blue-btn: #2549EB;
