.div-yes-no {
  display: flex;
}

.no-btn {
  width: 60px;
  height: 35px;
  font-size: 20px;
}

.yes-btn {
  width: 60px;
  height: 35px;
  font-size: 20px;
}

.btn-add-friends {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.add-friends-size {
  font-size: 18px;
}

.back-to-your-event {
  font-size: 17px;
}
