.button-event {
  border-radius: 10px;
  width: 342px;
  height: 34px;
  padding: 5px 0;
  display: flex;
  margin-bottom: 20px;
  text-decoration: none;
  background-color: #F6F8FC;
  display: inline-flex;
  justify-content: center;
  border: none;
}

.footbar {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #a2a6b979;
}

.flex-container {
  display: flex;
  justify-content: space-evenly;
}

.footbar-links {
  font-size: 30px;
  padding: 15px;
  color: #070D2D;
}
