.div-yes-no {
  display: flex;
}

.no-btn {
  width: 60px;
  height: 35px;
  font-size: 20px;
}

.yes-btn {
  width: 60px;
  height: 35px;
  font-size: 20px;
}

.card {
  width: 95vw;
}

.card-body {
  padding-bottom: 0px;
  padding-top: 0px;
  padding-left: 10px;
  padding-right: 10px;
}

.card-title {
  color: #161A36;
  font-size: 16px;
  margin-top: 8px;
}

.card-img-top {
  height: 57vh;
  width: 86vw;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
}

.btn-add-friends {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
