.events {
  margin-top: 20px;
  margin-left: 20px;
}

.btn-acc-dec {
  width: 65px;
  height: 40px;
}

.button-div {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn-acc {
  margin-right: 20px;
}

.invitation-div {
  margin-bottom: 40px;
}

.host-header-in-in {
  margin-top: 0px;
  margin-bottom: 10px;
}
