// .container_new {
//   //border: 3px solid violet;
// }

.wrap {
  align-items: center;
  //border: 3px solid yellow;
  justify-content: center;
}

.form-content {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;
  //border: 3px solid green;
  align-items: center;
  height: 70vh;
}

.event-header {
  margin-top: 100px;
  text-align: center;
}
