// .container_new {
//   //border: 3px solid violet;
// }

.wrap {
  align-items: center;
  //border: 3px solid yellow;
  justify-content: center;
}

.form-content {
  margin-left: 50px;
  margin-right: 50px;
  // margin-top: 50px;
  //border: 3px solid green;
  align-items: center;
  // height: 50vh;
}

// Copy paste that for every page //

.body-title {
  text-align: center;
}

.row-cta {
position: fixed;
bottom: 0;
left: 50%;
transform: translate(-50%, -0%);
background-color: #070D2D ;
}

// Use those properties if you have too much content and need to scroll down. It creates a padding on top of the cta-button
// .text-scroll {
//   padding-bottom: 100px;
// }

// Copy paste that for every page //
