.login-header {
text-align:center};

.sessions-cta {
position: fixed;
left: 50%;
transform: translate(-50%, -0%);
background-color: #070D2D ;
text-align: center;
}

.form-inputs {
  margin: 0 auto;
  max-width: 60%;
}
