.info-tag h3,
.info-tag p {
  //background-color: red;
  display: inline-block;

}

.header-show {
  background-color: red;
  margin-top: 30px;
  text-align: center;
}

.button-start {
  background-color: red;
  position: absolute;
  width: 100vh;
}

.center {
  position: relative;
  align-items: center;
  border: 3px solid yellow;
}
