.projector {
  width: 342px;
  height: 200px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.info-tag h3,
.info-tag p {
  display: inline-block;
  margin: 5px;
}

.header-show {
  text-align: center;
}

.header-name {
  display: flex;
  text-align: left;
}

.display-info {
  background-color: #242a5a;
  border-radius: 10px;
  width: 100%;
  height: 34px;
  padding: 5px 10px;
  margin-bottom: 10px;
}

.icons-pen-trash {
  font-size: 20px;
  color: #F6F8FC;
}

.icons-user-cal-ort {
  font-size: 20px;
  color: #F6F8FC;
  padding-right: 5px;
}

.host-tags{
  padding: 5px 10px;
  display: flex;
}

.avatar-host {
  margin-right: 10px;
}

.host-header {
  margin: 0px;
}

.container-links {
  margin-top: 10px;
}

.btn-see-your-movies{
  font-size: 15px;
}

.btn-start-movie-selection {
  font-size: 15px;
}

.add-friend .fa-solid {
  font-size: 20px;
  color:#F6F8FC;
  padding-top: 7px;
}

.side-container{
  min-height: 83vh;
  padding-bottom: 100px;
}

// .no-guest {
//   color: #A2A6B9 !important;
// }

// .icons-user-no-guest {
//   color: #A2A6B9 ;
// }

.container-show {
  padding: 0px 25px;
}
