<div class="footbar">
  <div class="flex-container">
      <a href="#"><i class="footbar-links fa-sharp fa-solid fa-calendar-days"></i></a>
      <a href="#"><i class="footbar-links fa-sharp fa-solid fa-circle-plus"></i></a>
      <a href="#"><i class="footbar-links fa-sharp fa-solid fa-envelope"></i></a>
  </div>
</div>
