<div class=container>

  <%# By default form is post, must specify get as it goes to decade and we take params %>
  <%# must post to API in url %>
  <%= form_with url: set_decade_event_path, method: :get do |f| %>
    <ul>
      <% @genres.each do |genre| %>
      <%# change %>
          <li>
            <%= check_box_tag 'genre_ids[]', genre, false %>
            <%= genre  %>
          </li>
      <% end %>
    </ul>
          <%= f.submit "continue" %>
  <% end %>

</div>
