<%# <% require 'json' %>
<%#  check_box_tag(name, value = "1", checked = false, options = {}) %>


  <%# By default form is post, must specify get as it goes to decade and we take params %>
  <div data-controller="set-genre">
    <%= simple_form_for :genre, url: set_decade_event_path, method: :get do |f| %>
    <div class="genre-container">
      <% @genres.each do |genre| %>
          <div class="checkbox-selector">
            <label class="tag-item"  data-set-genre-target="button" data-action="click->set-genre#toggleButton">
                <div class="checkbox-box"><%= check_box_tag 'genre_ids[]', genre, false %></div>
                <%= genre %>
            </label>
          </div>
      <% end %>
    </div>

    <%= f.submit "continue" %>
    <% end %>
  </div>


