<h1>Decade</h1>

<%= render "decade_form" %>

  <%# <div class="btn-select-container" data-controller="set-decade">
    <div class="row justify-content-center">
      <div class="col-sm-8 text-center">
        <h3>Choose your preferred decades</h3>

        <div class="d-flex flex-wrap justify-content-center pt-4">
        <%= render "selection_decades" %>

<%#         </div>
<%#  </div> %>
<%#     </div>
<%#   </div> %>

<%= link_to "continue/back to show page", event_path %>
