<div class="container">
  <h1>Genre</h1>

  <div class="btn-select-container" data-controller="set-genre">
    <div class="row justify-content-center">
      <div class="col-sm-8 text-center">
        <h3>What are you in the mood for today?</h3>

        <div class="d-flex flex-wrap justify-content-center pt-4">
        <%= render "selection_genres" %>

        </div>
      </div>
    </div>
  </div>


<%= link_to "continue", set_decade_event_path %>

</div>
