<h1><%= @event.name %></h1>

<p> <strong> Date: </strong> <%= @event.date %> </p>
<p> <strong> Address: </strong> <%= @event.address %> </p>
<p> <strong> Host: </strong> <%= @event.user.email %> </p>
