    <div class="display-info d-flex my-3">
        <div class="flex-grow-1" id="<%= invitation.id %>"><%= "#{invitation.user.email}" %>
        </div>
        <div class="invitee-accepted d-flex">
        <%# <%="" %>
        <%= image_tag("checkboxgreen.svg") %>
        </div>
      </div>
