<h1>Invitations</h1>

<ul><% @received_invitations.each do |invitation|  %>
  <li>You've been invited to: <%= invitation.event.name %>, hosted by <%= invitation.event.user.email %></li>
  <% end %>
</ul>
