<div class="container">
  <div class="list_events">
    <h2>Invitations</h2>

    <div class="events">
      <ul><% @received_invitations.each do |invitation|  %>
        <p>You've been invited to:</p>
        <li><%= invitation.event.name %>, hosted by <%= invitation.event.user.email %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
