.cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
  margin-top: 0px;
  min-height: 80vh;
}

.card {
  width: 95vw;
  background-color: #A2A6B9;
  border-radius: 10px;
  height: auto;
  min-height: 90vh;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-body {
  padding-bottom: 0px;
  padding-top: 0px;
  margin-left: 0px;
}

.card-title {
  color: #161A36;
  font-size: 16px;
  margin-top: 8px;
}

.card-img-top {
  height: 57vh;
  width: 86vw;
  margin-top: 18px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0px;
  border-radius: 10px;
}

.p-tag {
  font-size: 15px;
  color: #F6F8FC !important;
}
