.navbar-lewagon {
  justify-content: space-between;
  background: #070D2D;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}


.navbar-logo {
  margin-right: auto;
  margin-left: 96px;
}

// .navbar-lewagon .navbar-brand img {
//   width: 100px;
// }

.navbar-lewagon .navbar-brand img {
  width: 143px;
}
