// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";
@import "flatpickr/dist/flatpickr";
@import "flatpickr/dist/themes/airbnb";
@import "@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder";


// Your CSS partials
@import "components/index";
@import "pages/index";
@import "components/navbar_bottom";
@import "pages/new_events";
@import "pages/index_invitations";
@import "pages/show_event";
@import "pages/index_event";
@import "components/checkbox";
@import "pages/index_selected_movies";
@import "pages/top_selected_movies";



h1 {
  font-size: 48px;
  margin: 10px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

a {
  font-size: 12px;
  color: #F6F8FC;
  text-decoration: none;
}

p {
  font-size: 16px;
}

h4 {
  font-size: 12px;
}

h5 {
  font-size: 10px;
}

.container {
  padding: 20px 10px;
}
