<!--  see _button.scss for the css // -->

<!-- main btn call-to-action light blue / darker blue on click: -->
<div class="btn-cta">See your results</div>

<!-- btn call-to-action greyed out / use the btn-cta -->
<div class="btn-cta-grey">See your results</div>


<!-- btn back !change link! -->
  <%= link_to(events_path) do %>
  <div class="btn-back"><i class="fa-solid fa-arrow-left"></i></div>
  <% end %>

<!-- btn genre grey not selected yet -->
<div class="btn-genre-grey">Western</i></div>


<!-- btn genre blue selected-->
<div class="btn-genre">Western</i></div>
