<!-- General design / copy that to every page -->
<div class="container">
  <div class="row-header">
    <div class="back-button">
      <%= link_to(events_path) do %>
      <div class="btn-back"><i class="fa-solid fa-arrow-left"></i></div>
      <% end %>
    </div>
  </div>
<!-- General design / copy that to every page -->
<!-- Body of the page / different code / Don't forget the CLOSING BODY -->
  <div class="row-body">
    <div class="body-event">
      <div class="body-title pt-2 pb-4">
        <h2 class="event-header"> Create a new Event </h2>
      </div>
      <!-- your code> -->
    </div>
  </div> <!-- CLOSING BODY-->
<!-- Body of the page / different code -->
<!-- General design / copy that to every page -->
    <div class="row-cta d-flex py-4 px-2">
      <div class="submit-button">
        <div class="btn-cta">
          <%= f.button :submit %>
        </div>
      </div>
    </div>
</div> <!-- CLOSING CONTAINER-->
